# AA Beta Firmware test report

- If you run a AA .photon file on a old firmware it prints using only the first AA exposure


[> COMPARISON PHOTO ALBUM HERE <](https://photos.app.goo.gl/dej22eQ37uocnX2Y8)

WARNINGS

- Upgrade from a machine running 4.0.11 thrown at first M111000 and was not reading USB, had to unplug and replug USB
