# AA Beta Firmware test report

- As already known by the photonsters team, running a AA .photon file on a old firmware it prints using only the first AA exposure


[> COMPARISON PHOTO ALBUM HERE <](https://photos.app.goo.gl/dej22eQ37uocnX2Y8)

#### WARNINGS

----
Upgrade from a machine running 4.0.11 thrown at first M111000 and was not reading USB, had to unplug and replug USB

![image](https://user-images.githubusercontent.com/11083514/56518115-85445c80-6536-11e9-910c-c2318e2d1e0f.png)

----
File makes use of Lift distance and speeds but this panel is disabled in Chitubox Print settings resulting in a print file that is output at 300mms for all moves (Confirmed by oppeing the file with Validator changing values and running the file)

![image](https://user-images.githubusercontent.com/11083514/56517916-0818e780-6536-11e9-9902-7bd8d5470836.png)

----
